.footer
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  padding: 3.125vw 4.166666667vw
  background-color: #5B5859
  &__tel
    color: #fff
    font:
      size: 1.145833333vw
      weight: 700
  &__email
    margin-left: 4.166666667vw
    color: #fff
    font:
      size: 1.041666667vw
      weight: 400
  &__copyright,
  &__develop
    color: #BCBCBC

@media only screen and (max-width: $adaptive)
  .footer
    flex-flow: column nowrap
    padding: 12.5vw 6.25vw
    &__tel
      display: flex
      flex-flow: column nowrap
      justify-content: flex-start
      align-items: center
      margin-bottom: 9.375vw
      font-size: 6.25vw
    &__email
      margin: 6.25vw 0 0 0
      font-size: 4.6875vw
    &__copyright
      margin-bottom: 3.125vw
      font-size: 3.4375vw
    &__develop
      font-size: 3.4375vw