mixin footer
  footer.footer
    p.footer__tel 8 800 222 54 97
      a.footer__email(href="mailto:info@petrolcards.ru") info@petrolcards.ru
    p.footer__copyright © 2010-2020 PetrolCards.ru Все права защищены
    p.footer__develop Разработка сайта — студия дизайна «Арбуз»