include ../components/header/header
include ../components/hero/hero
include ../components/popular/popular
include ../components/consult/consult
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title Document
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header
      +hero
      +popular
      +consult
      +footer