mixin header
  header.header.container
    .header__logo
    .header__info
      a.header__email(href="mailto:info@petrolcards.ru") info@petrolcards.ru
      p.header__phone 8 800 222 54 97
      .header__tel